* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.15px;
}

:root {
    --main-color: linear-gradient(90deg, #B01EB3 1.2%, #2D2A98 98.99%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1080px;
    width: 100%;
    margin: 120px 0 40px;
    display: flex;
    justify-content: center;
    min-height: 431px;
}
main > div:first-child,
main > div:last-child {
    flex-grow: 1;
    flex-basis: 0;
}
main > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagination {
    max-width: 1080px;
    width: 100%;
    margin-bottom: 120px;
    height: 50px;
}
.pagination button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: revert;
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
}
.pagination button:hover {
    font-weight: bold;
    transform: scale(1.4);
    transition: 100ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.pagination .activePaginationButton {
    border-bottom: 4px solid rgb(93 24 220);
    font-weight: bold;
}


footer {
    color: rgb(93 24 220);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer a:hover {
    background-color: rgb(93 24 220);
}
footer span {
    color: #000;
    font-weight: bold;
}

footer img {
    width: 50px;
}
@media (max-width: 920px) {
    .wordsTable {
        width: 100%;
    }

    main {
        flex-direction: column;
    }
    main > div:first-child {
        overflow-x: auto;
        order: 2;
    }
    main > div:last-child {
        order: 1;
        margin-bottom: 80px;
    }

}
@media (max-width: 340px) {
    .search input {
        max-width: 320px;
        width: 80%;
        font-size: 16px;
    }

}
